.pixel-art-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1.1rem;
    grid-auto-flow: dense;
}

.concept-art-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.1rem;
    grid-auto-flow: dense;
}